body {
    font-family: 'Raleway', sans-serif;
  }

h1{
  text-align: center;
}

  ul {
    width: 50%;
    list-style: none;
    margin-left: auto;
    padding: 0%;
  }

li{
  display: inline;
}

button{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #17af95;
  border-radius: 15px;
  color: white;
  height: 68px;
  width: 202px;
}

  /* Navigation styles */

nav{
  height: 25%;
  width: 73%;
  color: white;
  background-color: #17af95;
  display: flex;
  justify-content: flex-end;
  vertical-align: top;
}

.inline-block{
  display: inline-block;
}

.logo img{
  height: auto;
  width: 100px;
  display: inline;
  padding: 1%;
  z-index: 100;
}



/* Hero Image */

#heroSpace{
  margin-top: 30px;
  width: 73%;
  display:grid;
  background-color: #5AB3F4;
  color: white;
  grid-template-columns: 25% 25% 10% 10%;
  grid-template-rows:  15% 20% 30% 5%;
  grid-template-areas: 
  "heroImg heroImg aboutMeH1 aboutMeH1"
  "heroImg heroImg aboutMeH2 aboutMeH2"
  "heroImg heroImg aboutMe aboutMeButton"
  "heroImg heroImg myskills myskills"
  ;
}

.heroImg{
  grid-area: heroImg;
  height: 800px;
  padding: 25px;
}

/* About Me */


#aboutMeH1{
  padding-top: 20px;
  text-align: center;
  grid-area:aboutMeH1;
  margin: 0 auto;
}


#aboutMeH2{
  grid-area:aboutMeH2;
  width: 600px;
  margin: 0 auto;
}

#aboutMe{
  grid-area:aboutMe;
  width: 400px;
  margin: 0 auto;
}


#aboutMeButton{
  position: relative;
  left: 100px;
  top: 100px;
  grid-area: aboutMeButton;
}

#myskills{
  grid-area: myskills;
  width: 500px;
}

/* Footer */
footer{
  background-color: #17af95;
  color: white;
  text-align: center;
  width: 73%;
}

.footerLinks{  
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  vertical-align:auto;
}

/* Typography CSS */
h1{
  font-size: 48px;
  font-weight: bold;
}

h2{
  font-size: 40px;
}
